body{
    font-family: 'Poppins', sans-serif;
}
.navbar-brand-name{
    color: rgb(63, 60, 60);
}
.carousal-pic{
    filter: brightness(30%);
}
/*--------------------
    media quiery
--------------------*/

@media only screen and (min-width:320px){
    .carousal-pic{
        height: 650px;
    }
    .carousal-text{
        padding-bottom: 50px;
    }
 }
 @media only screen and (min-width:480px){
    .carousal-pic{
        height: 500px;
    }
    .carousal-text{
        padding-bottom: 100px;
    }
 }
 @media only screen and (min-width:767px){
    .option{
        padding-top: 15px;
    }
    .carousal-pic{
        height: 600px;
    }
    .carousal-text{
        padding-bottom: 150px;
    }
 }
 @media only screen and (min-width:991px){

 }